@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>I am senior MIS student from Westerville, Ohio. A fun fact about me is that I grew up with a poodle named Stella who lived to be 19 years old.
    I am in Army ROTC here at OU and look forward to graduating this May. That program keeps me busy, but in my free time I enjoy binge watching shows
    on Netflix, playing Playstation and watching sports. I volunteer at the Athens county dog shelter weekly to walk the dogs. I want to adopt a
    dog once my schedule becomes more stable.</p>
