@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    68 Stewart Street<br />
    Athens, Ohio 45701<br />
    <abbr title="Phone">P:</abbr>
    614.309.6401
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:sd207417@ohio.edu">sd207417@ohio.edu</a><br />
    <strong>Alternative Email:</strong> <a href="mailto:sdamko27@gmail.com">sdamko27@gmail.com</a>
</address>