@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MIS4200</h1>
    <p class="lead">Welcome to my home page for the course!</p>
    <p><a href="https://www.linkedin.com/in/samuel-damko?trk=people-guest_people_search-card" class="btn btn-primary btn-lg">Connect With Me &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Consulting</h2>
        <p>
            I want to get into consulting upon entering the business world. Smaller consulting companies interest me like Infoverity. 
        </p>
        <p><a class="btn btn-default" href="https://www.infoverity.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Wendy's</h2>
        <p>Wendy's is one of my favorite fast food places. It helps that there is one so close to Copeland if I need a quick lunch. My favorite thing to order is the spicy chicken sandwich.</p>
        <p><a class="btn btn-default" href="https://menu.wendys.com/en_US/categories/">Learn more &raquo;</a></p><br />
        @Html.ActionLink("Students", "Index", "Students")<br />
        @Html.ActionLink("Courses", "Index", "Courses")<br />
        @Html.ActionLink("Schedules", "Index", "Schedules")<br />
        @Html.ActionLink("Instructors", "Index", "Instructors")<br />
    </div>
    <div class="col-md-4">
        <h2>Netflix</h2>
        <p>Watching shows on Netflix is how I spend a lot of my free time. I enjoy comedies and documentaries. I am open to suggestions from those around me!</p>
        <p><a class="btn btn-default" href="https://www.netflix.com/">Learn more &raquo;</a></p>
    </div>
</div>